<ion-menu [content]="content" side="right">
	<ion-header>
		<ion-toolbar>

			<button ion-button end menuToggle right>
				<ion-icon name="close"></ion-icon>
			</button>

			<div class="logo-img">
				<div></div>
			</div>

			<button ion-button start  menuClose class="user-img">
				<div *ngIf="user"><img [src]="user.img" (click)="onPrefernceClick()"></div>
			</button>
			
			<div *ngIf="user" class="user-name button">
				<div>{{user.name}}</div>
			</div>

		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<button class='nav-itm-button' menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>