@charset "utf-8";

@import "website/main-ltr";


ion-content , .content-md , .content-ios{
    background-color: #214e58;
    background-image: url(../assets/img/pattern.png);
    background-position: top right;
	font-size: 1.6rem; 
	font-family: $primary-font;
	color: $text;
}


cjc-footer + ion-content   {
   // margin-bottom: 6rem;

}