@charset "utf-8";


.mfp-modal {
	max-width: 750px !important;
}


.mfp-modal.modal-login-header{
	text-align: -webkit-center;
	color: black;
}
.mfp-modal .modal-login-contaner{
	width: 26%;
}


.mfp-modal{
	color: black;
}
.mfp-modal .modal-login-contaner{
	width: 26%;
}
.event-modal{
	width: 100%;
}
