@charset "utf-8";

@font-face {
    font-family: 'formal436bt';
	font-weight: normal;
	font-style: normal;

    src: url('./formal436bt.eot');
    src: url('./formal436bt.eot') format('embedded-opentype'),
         url('./formal436bt.woff2') format('woff2'),
         url('./formal436bt.woff') format('woff'),
         url('./formal436bt.ttf') format('truetype'),
         url('./formal436bt.svg#formal436bt') format('svg');
}

.font-formal436bt {
	font-family: formal436bt;
}