@charset "utf-8";

@font-face {
	font-family: "myriad-pro";
	font-weight: bold;
	font-style: normal;
	
	src: url('./myriadproboldcondIt.eot');
    src: url('./myriadproboldcondIt.eot') format('embedded-opentype'),
         url('./myriadproboldcondIt.woff2') format('woff2'),
         url('./myriadproboldcondIt.woff') format('woff'),
         url('./myriadproboldcondIt.ttf') format('truetype'),
         url('./myriadproboldcondIt.svg#myriadproboldcondIt') format('svg');
}

@font-face {
	font-family: "myriad-pro";
	font-weight: 600;
	font-style: normal;

    src: url('./myriadprosemibold.eot');
    src: url('./myriadprosemibold.eot') format('embedded-opentype'),
         url('./myriadprosemibold.woff2') format('woff2'),
         url('./myriadprosemibold.woff') format('woff'),
         url('./myriadprosemibold.ttf') format('truetype'),
         url('./myriadprosemibold.svg#myriadprosemibold') format('svg');
}

.font-myriadpro-bold {
	font-family: myriad-pro;
	font-weight: bold;
}

.font-myriadpro-semibold {
	font-family: myriad-pro;
	font-weight: 600;
}