/*******************************************
 *	navbar & admin bar
 *******************************************/

.admin-bar #masthead {
    top: 32px;
}

@media screen and (max-width: 783px) {
	.admin-bar #masthead {
		top: 46px;
	}
}

#masthead {
	z-index: 1000;
}

/*******************************************
 *	removes the space above the content
 *******************************************/

.hentry {
	margin: 0;
}

.entry-content, .entry-summary {
    margin: 0;
}

/*******************************************
 *	FORMS
 *******************************************/

.ninja-forms-form-wrap input {
    height: 4rem !important;
}

.ninja-forms-form-wrap textarea {
 height: 16rem !important;
}

.edit-link{
	display: none;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0px !important;
}

/****************************************************************************************
 *	Clean up
 ****************************************************************************************/

.modal-head__title {
	width: 400px;
	font-size: 4rem;
}

.c-section--short {
	color:#333;
}

/*******************************************
 *	Events
 *******************************************/
.events-content .desktop-events .event.pos-1 {
	left: 43%;
}
.events-content .desktop-events .event.pos-2 {
	top: 14%;
	left: 20%;
}
.events-content .desktop-events .event.pos-3 {
	top: 26%;
	left: 81%;
}
.events-content .desktop-events .event.pos-4 {
	top: 60%;
	left: 61%;
}
.events-content .desktop-events .event.pos-5 {
	top: 41%;
	left: 5%;
}
.events-content .desktop-events .event.pos-6 {
	left: 30%;
}
.events-content .desktop-events .event.pos-7 {
	top: 73%;
	left: 80%;
}
.events-content .artist {
	position: absolute;
}
.events-content .artist.pos-1 {
	top: 21%;
	left: 65%;
}
.events-content .artist.pos-2 {
	top: 73%;
	left: 16%;
}
.events-content .artist.pos-3 {
	top: 70%;
	left: 47%;
}

.events-content .artist.pos-6 {
	left: 10%;
}
.events-content .artist.pos-7 {
	left: 80%;
}

.circle--xm .circle__content .date {
	left: -30px;
}
.circle--xm {
	border-style: solid;
	border-width: 13px;
	-o-border-image: url(../img/circular-border.png) 54 53 54 55 stretch;
	border-image: url(../img/circular-border.png) 54 53 54 55 fill stretch;
	width: 77px;
	height: 78px;
}