@charset "utf-8";

/*******************************************
 *	Website
 *******************************************/
@import "override/_website.scss";

/*******************************************
 *	FORMS
 *******************************************/
@import "override/_forms.scss";

/*******************************************
 *	Events
 *******************************************/
@import "override/_event.scss";

/*******************************************
 *	essential grid
 *******************************************/
@import "override/_ess-grid.scss";
.mfp-modal.modal-login-header{
    text-align: -webkit-center;
    color: black;
}
.mfp-modal .modal-login-contaner{
    width: 26%;
}
