<ion-header>
	<cjc-header></cjc-header>
</ion-header>


<ion-content>

    <ion-slides class="slides" autoplay="5000" loop="true" *ngIf="sliderImages.length">
        <ion-slide *ngFor="let sliderImage of sliderImages">
            <img [src]="sliderImage.url" />
        </ion-slide>
    </ion-slides>


    <ion-row class="background">
        <ion-col text-center>
            <img src="assets/img/BG.png" />
        </ion-col>
    </ion-row>

    <ion-row class="content">
        <ion-col text-center>
            <div class="events-slider">
                <div *ngFor="let event of events; let last = last">
                    <div class="circle circle--md">
                        <div class="circle__content">
                            <div class="date">
                                {{ event.startDate }}
                            </div>
                            <img [src]="event.img" alt="">
                        </div>
                    </div>
                    {{(last && doinitSlick) ? initSlick() : ''}}
                </div>
            </div>

        </ion-col>
    </ion-row>

</ion-content>


<ion-footer>
	<cjc-footer></cjc-footer>
</ion-footer>