page-contact-us {

	h2 {
		color: $text;
	}
	.main-contact{
		padding: 15px;
	}
	.contact{

		&-address , &-emails ,&-phone,li {
			background-repeat: no-repeat;
			background-size: cover;
			width: 35px;
			height: 35px;
			float: left;
		}

		&-address {
			background-image: url('../assets/img/contact-pin.png');
		}

		&-emails {
			background-image: url('../assets/img/contact-email.png');
		}

		&-phone {
			background-image: url('../assets/img/contact-phone.png');
		}

		&-text {
			padding-left: 60px;
		}
	}
}
