cjc-user-circle {

	
	.user{
		&-img{

		background: none;
		background-color: transparent !important;
		border-radius: 50%;
		box-shadow: none;
		height: 100%;
		padding: 0;

			div{
				height: 100%;
				width: 100%;

				img{
					height: 45px;
					width: 45px;
					border-radius: 50%;
				}
			}

		}

		&-name{
			max-width: 20%;
			white-space:nowrap;
			overflow:hidden;

			color:$primary-color;
			font-family: $myriadpro-font;
			font-weight: bold;
			/*
			position: absolute;
			top: 34%;
			left: 60px;
			*/
		}
	}

}