page-landing {

	ion-content{
		background-color: #FFF !important;
	}

	.swiper-container {
		height: 57% !important;
	}
	.slides {
		display: inline !important;
    }
    .swiper-pagination-bullet-active {
        background: #fcb034;
    }
    ion-content {
        background-color: #fff !important;
	}

	.facebook {
		background-color: $facebook;

		&-sub-text{
    }
    .swiper-pagination-bullet-active {
        background: #fcb034;
    }
    ion-content {
        background-color: #fff !important;
			color: $black !important;
		}
	}

}	