@charset "utf-8";

.ninja-forms-form-wrap input {
	height: 4rem !important;
}

.ninja-forms-form-wrap textarea {
 height: 16rem !important;
}

.edit-link{
	display: none;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
	margin-bottom: 0px !important;
}
