@charset "utf-8";

/*******************************************
 *	navbar & admin bar
 *******************************************/

.admin-bar #masthead {
	top: 32px;
}

@media screen and (max-width: 783px) {
	.admin-bar #masthead {
		top: 46px;
	}
}

#masthead {
	z-index: 1000;
}

/*******************************************
 *	removes the space above the content
 *******************************************/

.hentry {
	margin: 0;
}

.entry-content, .entry-summary {
	margin: 0;
}

.eg-text-and-image-nostyle-element-10 > div {
	width: 30%;
	height: 100%;
	float: left;
	background-size: cover;
}

@media screen and (max-width: 768px) {
  .parallax__content {
    background-image: none;
  }
}