
.admin-bar #masthead {
    top: 32px;
}

@media screen and (max-width: 783px) {
	.admin-bar #masthead {
		top: 46px;
	}
}

#masthead {
	z-index: 1000;
}

/*
removes the space above the content
*/
.hentry {
	margin: 0;
}

.entry-content, .entry-summary {
    margin: 0;
}

.ninja-forms-form-wrap input {
    height: 4rem !important;
}

.ninja-forms-form-wrap textarea {
    height: 24.2rem !important;
}

.edit-link{
	display: none;
}